name: cargo-audit

permissions:
  contents: read

on:
  schedule:
    # Runs every day at 01:23
    - cron: "23 1 * * *"

jobs:
  cargo-audit:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions-rust-lang/audit@72c09e02f132669d52284a3323acdb503cfc1a24 # v1.2.7
        with:
          # RUSTSEC-2024-0388 - `derivative` unmaintained, used in Grandine
          # RUSTSEC-2024-0436 - `paste` unmaintained, used in bindings
          ignore: RUSTSEC-2024-0388,RUSTSEC-2024-0436
